body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}

.navbar {
    background-color: #032e74;
    padding: 1rem 2rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-image: url('/assets/Login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
}

.login-box h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #032e74;
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    color: #032e74;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.input-group input:focus {
    border-color: #032e74;
    box-shadow: 0 0 5px rgba(30, 41, 59, 0.2);
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #032e74;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: #5e89ce;
}

.footer {
    background-color: #032e74;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
